.accident__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1200px) {
  .accident__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .accident__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
