.accident__detail {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 30px;
  background-color: #fff;
}

.accident__detail .accident__img {
  width: 100%;
  height: 270px;
}

.accident__detail .accident__title {
  padding-left: 15px;
  text-align: center;
  font-size: 20px;
  color: black;
  margin-top: 10;
  margin-bottom: 0;
}

.text__group {
  text-align: center;
}

/* .people__text {
  padding: 5px 0;
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.day__text {
  padding: 5px 0;
  font-size: 15px;
  font-weight: bold;
  color: green;
} */

.acc__btn__group {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
}

.click:hover .detail__btn {
  opacity: 0.9;
}

.detail__btn {
  transition: 0.5s;
  opacity: 0;
  justify-content: space-between;
  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
  padding: 5px 12px 8px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px;
  align-items: center;
  color: #fff;
  border: none;
  text-decoration: none;
  width: 45%;
  margin: auto;
  cursor: pointer;
}

.detail__btn:hover {
  background-image: linear-gradient(to right, #006417, #00b128);
  color: #fff;
}

.progress {
  height: 10px;
  margin: 0 20px;
}

.progress__percentage {
  margin-left: 20px;
  color: #036635;
  font-weight: 600;
  font-size: 15px;
  line-height: 4;
}

.progress__amount {
  float: right;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 4;
}
