.accidentListItem__card {
  cursor: pointer;
  width: 70%;
  margin: auto;
  margin-top: 6rem;
}

.accidentListItem__card .acc__title {
  font-size: 22px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.accidentListItem__card .img__acc__data {
  width: 100%;
  height: 300px;
}

.accidentListItem__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.accidentListItem__card__inner:hover {
  transform: rotateY(180deg);
}

.accidentListItem__card__front,
.accidentListItem__card__back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.accidentListItem__card__back {
  position: absolute;
  top: 0%;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px;
  transform: rotateY(180deg);
}

.accidentListItem__card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 200px;
}

.accidentListItem__card .list__size {
  list-style: none;
  padding-bottom: 10px;
}

.detail__button {
  flex-basis: 50%;
  margin-top: 0.5rem;
  width: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px 40px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
