#footer {
  margin-top: 10rem;
  padding: 5px 25px;
  background: #036635;
  justify-content: center;
  align-items: center;
  /* height: 265px; */
}

.footer__row {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__right__col {
  flex-basis: 35%;
}

.footer__logo {
  margin-left: 5rem;
}

.logo__size {
  margin-left: 5rem;
  width: 250px;
}

.footer__left__col {
  flex-basis: 65%;
  margin-top: 0px;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.position {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}

.link__title:nth-child(2) .footer__text {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.footer__title {
  margin-bottom: 1rem;
  color: white;
  font-size: 25px;
}

.footer__text {
  color: white;

  font-size: 15px;
  font-weight: 300;
}

.footer__text1 {
  color: white;

  font-size: 15px;
  font-weight: 300;
}

.footer__right {
  padding: 20px;
  font-size: 15px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sns-img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
}

.sns-btn {
  border: none;
  background: rgb(219, 220, 220);
  margin: 0 5px 10px 5px;
  background-color: transparent;
}

.facebook {
  width: 34px;
  height: 34px;
  border-radius: 5px;
}
a.weblink:link {
  text-decoration: none;
  color: white;
}

a.weblink:visited {
  text-decoration: none;
  color: inherit;
}
a.weblink:hover {
  text-decoration: none;
  /* color: rgb(38, 108, 154); */
  color: inherit;
}
/* .footer__title {
  font-style: italic;
  padding: 20px;
  color: rgb(32, 55, 153);
  text-align: center;
}

.footer__links {
  font-size: 25px;
  text-align: center;
}

.footer__links .footer__address {
  text-decoration: none;
  color: green;
}

.footer__rights {
  padding: 20px;
  color: red;
  text-align: center;
  font-weight: bold;
}

.quiz__start {
  width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: green;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.quiz__start:hover {
  background-color: rgb(41, 235, 235);
  color: black;
  transition: 0.5s;
}  */

/* @media (max-width: 1880px) {
  .logo__size {
    width: 400px;
  }

  .footer__title {
    margin-bottom: 1rem;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .footer__text {
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  .footer__text1 {
    color: white;
    font-size: 18px;
    font-weight: 400;
  }

  .footer__right {
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
} */

@media (max-width: 1400px) {
  .logo__size {
    width: 200px;
  }
  .footer__title {
    color: white;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .footer__text {
    color: white;
    font-size: 13px;
    font-weight: 400;
  }
  .footer__text1 {
    color: white;
    font-size: 13px;
    font-weight: 400;
  }

  .footer__right {
    padding: 20px;
    font-size: 15px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

@media (max-width: 1280px) {
  .logo__size {
    width: 150px;
    margin-left: 30rem;
  }

  .footer__links {
    width: 500px;
    margin-left: 30rem;
    justify-content: center;
  }
  .link__title {
    padding: 0 20px;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .logo__size {
    width: 200px;
    margin-left: 25rem;
  }

  .footer__left__col {
    display: none;
  }
}
