.mypage__main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage__content-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mypage__content-list {
  display: flex;
}

.mypage__content {
  background-color: teal;
  width: 800px;
  height: 300px;
  margin: 0 auto 50px auto;
}

.mypage__image {
  background-color: slateblue;
  width: 400px;
  height: 450px;
  text-align: center;
  line-height: 25;
  margin-top: 150px;
}

.mypage__content-item {
  background-color: wheat;
  width: 150px;
  height: 200px;
  text-align: center;
  line-height: 12;
  list-style: none;
  margin-left: 20px;
}

.mypage__side {
  background-color: thistle;
  width: 400px;
  height: 450px;
  text-align: center;
  margin-top: 150px;
}

.mypage__side-title {
  /* background-color: tomato; */
  width: 60%;
  height: 40px;
  line-height: 3;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.mypage__side-bar {
  background-color: violet;
  width: 60%;
  height: 40px;
  line-height: 3;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* .mypage__side-support {
  margin: 150px 10px 0 10px;
  cursor: pointer;
  padding: 10px;
} */

.mypage__side-save {
  margin: 80px 10px 0 10px;
  cursor: pointer;
  padding: 10px;
}

.mypage__receipt {
  padding: 10px;
  margin: 20px;
}
