.mypage__main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage__content-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mypage__content-list {
  display: flex;
}

.mypage__content {
  background-color: teal;
  width: 800px;
  height: 300px;
  margin: 0 auto 50px auto;
}

.mypage__image {
  border: 2px solid black;
  width: 400px;
  height: 450px;
  text-align: center;
  margin-top: 150px;
  padding-top: 160px;
}

.mypage__image > div > div > img {
  width: 100px;
  height: 100px;
}

.mypage__image > div > div > button {
  width: 20%;
  background-color: #ffecb3;
  border-radius: 10px;
  margin: 5px auto;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 15px 5px;
}

.mypage__content-item {
  background-color: wheat;
  width: 150px;
  height: 200px;
  text-align: center;
  line-height: 12;
  list-style: none;
  margin-left: 20px;
}

.mypage__side {
  border: 2px solid black;
  width: 400px;
  height: 450px;
  text-align: center;
  margin-top: 150px;
}

.mypage__side > h1 {
  margin: 20px 0 20px 0;
}

.mypage__side-input {
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
}

.mypage__side-save {
  width: 20%;
  background-color: #ffecb3;
  border-radius: 10px;
  margin: 20px auto;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 20px 5px;
}

.mypage__receipt {
  padding: 10px;
  margin: 20px;
}

.mypage__receipt > a {
  color: inherit;
  text-decoration: none;
}

.mypage__side-input-mobile-head {
  padding: 10px;
  margin: 5px 5px;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
}

.mypage__side-input-mobile-bodytail {
  padding: 10px;
  margin: 5px 5px;
  width: 26%;
  height: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
}
