#postdetail {
  /* margin-top: 3rem;
  padding-top: 10rem; */
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background-color: #dae4ff;
  padding-left: 6%;
  padding-right: 6%;
}

.postdetail__row {
  display: flex;
  width: 100%;
  /* height: 82vh; */
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.postdetail__col-1,
.postdetail__col-2 {
  flex-basis: 50%;
  overflow: hidden;
}

.postdetail__col-2 .postdetail__img {
  width: 100%;
  height: 100%;
}

.postdetail__col-1 {
  padding: 8% 5%;
  position: relative;
}

.postdetail__col-1 .postdetail__title {
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 2px;
  color: #333;
}

.postdetail__col-1 .postdetail__text {
  color: #777;
  line-height: 22px;
  margin: 30px 0 30px;
}

.people__text {
  padding: 5px 0;
  font-weight: bold;
  color: red;
}

.day__text {
  padding: 5px 0;
  font-weight: bold;
  color: #036635;
}

.location__text {
  padding: 5px 0;
  font-weight: bold;
  color: #256eff;
}

.postdetail__btn__group {
  float: right;
  display: flex;
  font-weight: 700;
}

.btn__post {
  text-align: center;
  align-items: center;
  padding: 12px 36px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background-color: #256eff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn__group__area .btn__post:nth-child(2) {
  background-color: red;
}

.btn__group__area .btn__post:hover {
  background-color: #036635;
}

/* 이 위로 작업 */
.postdetail__content-profile {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.postdetail__content-name {
  font-size: 18px;
}

.postdetail__content-body {
  font-size: 20px;
  margin: 10px 0 5px 10px;
}

.postdetail__content-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.postdetail__content-box {
  display: flex;
  margin: 20px auto;
  margin-top: 3rem;
}

.postdetail__content-btn {
  width: 10%;
  background-color: #ffecb3;
  border-radius: 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 20px 5px;
  text-align: center;
}

.postdetail__comment {
  /* margin-top: 30px; */
  border-bottom: 1px solid gray;
  width: 60%;
  margin: 0 auto;
}

.postdetail__content-container {
  border-bottom: 1px solid gray;
  /* margin: 10px auto 0 auto; */
  margin: 0 auto;
  width: 60%;
}

.postdetail__content-box input {
  padding: 10px;
  margin: 5px 10px;
  width: 75%;
  height: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
}

/* .news-link {
  font-size: 50px;
  background-color: black;
  margin: 0rem auto;
  color: white;
  text-align: center;
  padding: 25px;
  width: 64%;
}

.postdetail__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.postdetail__card {
  justify-content: center;
  align-items: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.postdetail__imgs {
  width: 100%;
}

.postdetail__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.postdetail__accidentCase {
  width: 100%;
  display: block;
}

.postdetail__accidentCase .single__img {
  width: 100%;
  height: 70vh;
  margin-top: 3rem;
}

.postdetail__content {
  width: 100%;
  height: 70vh;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
  padding: 3rem 2rem;
  background-color: #05a35f;
}

.postdetail__title {
  align-items: center;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: #12263a;
}

.postdetail__detail .post__text {
  margin-top: 1rem;
  width: 100%;
  font-size: 18px;
  padding: 0.3rem;
  font-weight: 300;
  line-height: 24px;
} */
