/* .postdetail__main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postdetail__content {
  width: 800px;
  height: 300px;
  margin: 0 auto 50px auto;
}

.postdetail__image {
  width: 400px;
  height: 400px;
  text-align: center;
  line-height: 25;
  margin-top: 150px;
}

.postdetail__image-title {
  background-color: wheat;
  width: 400px;
  height: 50px;
  text-align: center;
  line-height: 3.5;
}

.postdetail__side {
  background-color: thistle;
  width: 400px;
  height: 450px;
  text-align: center;
  margin-top: 150px;
}

.postdetail__side-title {
  background-color: tomato;
  width: 60%;
  height: 40px;
  line-height: 3;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.postdetail__side-bar {
  background-color: violet;
  width: 60%;
  height: 40px;
  line-height: 3;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.postdetail__side-support {
  margin: 150px 10px 0 10px;
  cursor: pointer;
  padding: 10px;
}

.postdetail__side-share {
  margin: 150px 10px 0 10px;
  cursor: pointer;
  padding: 10px;
}

.postdetail__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
} */

/* .card-wrapper {
  width: 80%;
  margin: 0 auto;
} */

#postdetail {
  line-height: 1.5;
  margin-top: 10rem;
  height: 70vh;
}

.postdetail__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.postdetail__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.postdetail__imgs {
  margin-left: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: block;
}

.postdetail__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.postdetail__accidentCase {
  width: 100%;
  display: block;
}

.postdetail__accidentCase .single__img {
  width: 100%;
  height: 45vh;
  margin-top: 3rem;
}

.postdetail__content {
  padding: 3rem 2rem;
}

.postdetail__title {
  align-items: center;
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  color: #12263a;
}

.postdetail__detail .post__text {
  margin-top: 1rem;
  width: 65%;
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.postdetail__btn__group {
  display: flex;
  margin: 3rem 0;
  font-weight: 700;
}

.btn__post {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #256eff;
}

.btn__group__area .btn__post:nth-child(2) {
  background-color: red;
}

.btn__group__area .btn__post:hover {
  opacity: 0.8;
}

/* 이 위로 작업 */
.postdetail__content-profile {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.postdetail__content-name {
  font-size: 18px;
}

.postdetail__content-body {
  font-size: 20px;
  margin: 10px 0 5px 10px;
}

.postdetail__content-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.postdetail__content-box {
  display: flex;
  margin: 10px auto;
}

.postdetail__content-btn {
  width: 10%;
  background-color: #ffecb3;
  border-radius: 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 20px 5px;
  text-align: center;
}

.postdetail__comment {
  margin-top: 30px;
  border-bottom: 1px solid gray;
  width: 80%;
  margin: 30px auto 0 auto;
}

.postdetail__content-container {
  border-bottom: 1px solid gray;
  margin: 10px auto 0 auto;
  width: 80%;
}

.postdetail__content-box input {
  padding: 10px;
  margin: 5px 10px;
  width: 75%;
  height: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
}
