.postdetail__main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postdetail__content-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.postdetail__content {
  width: 800px;
  height: 300px;
  margin: 0 auto 50px auto;
}

.postdetail__image {
  background-color: slateblue;
  width: 400px;
  height: 400px;
  text-align: center;
  line-height: 25;
  margin-top: 150px;
}

.postdetail__image-title {
  background-color: wheat;
  width: 400px;
  height: 50px;
  text-align: center;
  line-height: 3.5;
}

.postdetail__side {
  background-color: thistle;
  width: 400px;
  height: 450px;
  text-align: center;
  margin-top: 150px;
}

.postdetail__side-title {
  background-color: tomato;
  width: 60%;
  height: 40px;
  line-height: 3;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.postdetail__side-bar {
  background-color: violet;
  width: 60%;
  height: 40px;
  line-height: 3;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.postdetail__side-support {
  margin: 150px 10px 0 10px;
  cursor: pointer;
  padding: 10px;
}

.postdetail__side-share {
  margin: 150px 10px 0 10px;
  cursor: pointer;
  padding: 10px;
}


.postdetail__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;

.postdetail__content-profile {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.postdetail__content-name {
  font-size: 18px;
}

.postdetail__content-body {
  font-size: 20px;
  margin: 10px 0 5px 10px;
}

.postdetail__content-container {
  border-bottom: 1px solid gray;
  margin-top: 10px;
}

.postdetail__content-box {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postdetail__content-box input {
  padding: 10px;
  margin: 5px 10px;
  width: 75%;
  height: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
}

.postdetail__content-btn {
  width: 10%;
  background-color: #ffecb3;
  border-radius: 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 20px 5px;
  text-align: center;
}

.postdetail__comment {
  margin-top: 30px;
  border-bottom: 1px solid gray;

}
