.receipt__main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.receipt__content-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.receipt__content-list {
  flex-direction: column;
}

.receipt__content {
  background-color: teal;
  width: 800px;
  height: 400px;
  margin: 0 auto 50px auto;
}

.receipt__title-list {
  background-color: slateblue;
  width: 800px;
  height: 100px;
  text-align: center;
  margin-top: 150px;
  display: flex;
}

.receipt__title {
  background-color: orange;
  margin: 30px auto;
  width: 100px;
  height: 30px;
  line-height: 2;
}

.receipt__content-list > li {
  background-color: wheat;
  width: 80%;
  height: 70px;
  text-align: center;
  list-style: none;
  margin: 20px auto;
  display: flex;
}

.receipt__content-list > li > div:nth-child(1) {
  background-color: green;
  margin: 20px;
  width: 20%;
  line-height: 2;
}

.receipt__content-list > li > div:nth-child(2) {
  background-color: darkgoldenrod;
  margin: 20px;
  width: 70%;
  line-height: 2;
}
