.navbar__btn {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar__body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header__box {
  width: 100%;
  height: 80px;
  padding-right: 50px;
  position: fixed;
  background-color: white;
  z-index: 3;
}

.header__title {
  margin: 15 15px 15px 30px;
  font-size: 13px;
  font-weight: 500;
  font: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.header__title-img {
  width: 22rem;
  background-color: transparent;
  margin-left: 5%;
  position: absolute;
  left: 1%;
  top: 13px;
}

.header__btn {
  margin-top: 20px;
}

.header__btn button {
  padding: 8px 12px;
  width: 100px;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  float: right;
}

.left {
  background-color: transparent;
  color: #036635;
  border: none;
}

.left:hover {
  background-color: #036635;
  color: white;
  border: none;
}

.right {
  background-color: #036635;
  border: none;
  color: white;
}

.github__login-btn {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 2.5;
  margin-left: 35px;
}

.google__login-btn {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 2.5;
  margin-left: 40px;
}

.social__logo {
  width: 20px;
  height: 20px;
  margin: 5px 35px 5px 20px;
}

.github__box {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  cursor: pointer;
}

.google__box {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  cursor: pointer;
}
