.navbar__btn {
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar__body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.show {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  text-align: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.hide {
  display: none;
}

.header__box {
  border-bottom: 5px solid black;
  width: 100%;
  height: 100px;
  padding-right: 90px;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.header__title {
  margin: 30px 15px 15px 30px;
  font-size: 30px;
  font: bold;
  display: inline-block;
  cursor: pointer;
}

.header__title > a {
  color: inherit;
  text-decoration: none;
}

/* .header__btn {
  display: inline-block;
  float: right;
  margin: 15px 15px 15px 0px;
} */

.github__login-btn {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  line-height: 2.2;
}

.github__logo {
  width: 20px;
  height: 20px;
  margin: 5px 35px 0 20px;
}

.github__box {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  cursor: pointer;
}
