#service__pay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__pay__box {
  width: 40%;
  min-width: 600px;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.service__pay__title {
  margin-left: 15px;
  margin-bottom: 0;
  color: #ffb300;
}

.radio__row {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10px;
}

.radio__row .radio__group {
  margin: 20px 5px;
  padding: 5px;
}

.service__pay__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__pay__row .input__group {
  flex-basis: 48%;
}

.input__group {
  margin-bottom: 30px;
  position: relative;
  margin-left: 15px;
}

.input__group-input {
  width: 98%;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  font-weight: 550;
  font-size: 15px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.input__group-mobile-head {
  width: 25%;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  font-weight: 550;
  font-size: 15px;
  margin: 0 5px 0 0;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.input__group-mobile-bodytail {
  width: 31%;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  font-weight: 550;
  font-size: 15px;
  margin: 0 5px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

#service__label__textarea {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.2s;
}

.button__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__area .button__group {
  flex-basis: 48%;
}

.btn__first {
  padding: 10px 0;
  color: black;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 96%;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 15px;
  margin-top: 20px;
}

.btn__second {
  padding: 10px 0;
  color: black;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 96%;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
  margin-left: 5px;
}

.btn__first:hover {
  width: 96%;
  background-color: #036635;
  color: #fff;
}

.btn__second:hover {
  width: 96%;
  background-color: #036635;
  color: #fff;
}

.fas {
  margin: 0 0 5px 5px;
}

.radio__group {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 150px;
}

.radio__group:hover {
  background-color: #80e27e;
  color: white;
}

.radio__group-head {
  text-align: center;
  margin-top: 15px;
}

.radio__group-img1 {
  width: 70px;
}

.radio__group-text {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

.service__pay__radio {
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
