#service__pay {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #fff),
    url("../images/cy.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__pay__box {
  width: 40%;
  min-width: 600px;
  margin-top: 5rem;
}

.service__pay__title {
  margin-left: 10px;
}

.radio__row {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10px;
}

.radio__row .radio__group {
  margin: 20px 5px;
  padding: 5px;
}

.service__pay__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__pay__row .input__group {
  flex-basis: 48%;
}

.input__group {
  margin-bottom: 30px;
  position: relative;
  margin-left: 10px;
}

.input__group-input {
  width: 96%;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  font-weight: 550;
  font-size: 15px;
}

.input__group-mobile-head {
  width: 23%;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  font-weight: 550;
  font-size: 15px;
  margin: 0 5px 0 0;
}

.input__group-mobile-bodytail {
  width: 30.5%;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  font-weight: 550;
  font-size: 15px;
  margin: 0 5px;
}

#service__label__textarea {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.2s;
}

.button__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__area .button__group {
  flex-basis: 48%;
}

.btn__first {
  padding: 10px 0;
  color: black;
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  width: 96%;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10px;
  margin-top: 20px;
}

.btn__second {
  padding: 10px 0;
  color: black;
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  width: 96%;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}

.btn__first:hover {
  width: 96%;
  background-color: blue;
  color: #fff;
}

.btn__second:hover {
  width: 96%;
  background-color: blue;
  color: #fff;
}

.fas {
  margin: 0 0 5px 5px;
}

/* #name:focus ~ .service__label {
  top: -30px;
  font-size: 14px;
}

#number:focus ~ .service__label {
  top: -30px;
  font-size: 14px;
}

#email:focus ~ .service__label {
  top: -30px;
  font-size: 14px;
}

#message:focus ~ #service__label__textarea {
  top: -10px;
  font-size: 14px;
}

#date:focus ~ .service__date {
  opacity: 0;
  font-size: 14px;
} */
