#service__pay {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #fff),
    url("../images/cy.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__pay__box {
  width: 40%;
  min-width: 600px;
  margin-top: 5rem;
}

.radio__row {
  display: flex;
  align-items: center;
  justify-content: left;
}

.radio__row .radio__group {
  margin: 20px 5px;
  padding: 5px;
}

.service__pay__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__pay__row .input__group {
  flex-basis: 48%;
}

.input__group {
  margin-bottom: 30px;
  position: relative;
}

.inp {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid black;
  background-color: transparent;
  font-size: 15px;
}

.service__label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.2s;
}

.service__date {
  position: absolute;
  left: 75%;
  top: 52%;
  transform: translateY(-50%);
}

#service__label__textarea {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.2s;
}

.button__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__area .button__group {
  flex-basis: 48%;
}

.btn__first {
  padding: 10px 0;
  color: black;
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.btn__first:hover {
  width: 100%;
  background-color: blue;
  color: #fff;
}

#name:focus ~ .service__label {
  top: -30px;
  font-size: 14px;
}

#number:focus ~ .service__label {
  top: -30px;
  font-size: 14px;
}

#email:focus ~ .service__label {
  top: -30px;
  font-size: 14px;
}

#message:focus ~ #service__label__textarea {
  top: -10px;
  font-size: 14px;
}

#date:focus ~ .service__date {
  opacity: 0;
  font-size: 14px;
}
